img {
    width: 100%;
    height: 100%;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: grid;
}

.slot-container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

button {
    grid-column-start: 2;
    grid-column-end: 3;
}

.slotBox {
    background-color: rgb(228, 99, 13);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.slide {
    display: grid;
    grid-gap: 10px;
}

.slider {
    animation: slide .5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* s1 */

.s1 {
    animation: s1 .9s ease-out;
    transform: translateY(-110px);
}

@keyframes s1 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-110px);
    }
}

/* // */

/* s2 */

.s2 {
    animation: s2 .8s ease-out;
    transform: translateY(-220px);
}

@keyframes s2 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-220px);
    }
}

/* // */

/* s3 */

.s3 {
    animation: s3 .7s ease-out;
    transform: translateY(-330px);
}

@keyframes s3 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-330px);
    }
}

/* // */

/* s4 */

.s4 {
    animation: s4 .6s ease-out;
    transform: translateY(-440px);
}

@keyframes s4 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-440px);
    }
}

/* // */

/* s5 */

.s5 {
    animation: s5 .5s ease-out;
    transform: translateY(-550px);
}

@keyframes s5 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-550px);
    }
}

/* // */

/* s6 */

.s6 {
    animation: s6 .4s ease-out;
    transform: translateY(-660px);
}

@keyframes s6 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-660px);
    }
}

/* // */

/* s7 */

.s7 {
    animation: s7 .3s ease-out;
    transform: translateY(-770px);
}

@keyframes s7 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-770px);
    }
}

/* // */

/* s8 */

.s8 {
    animation: s8 .2s ease-out;
    transform: translateY(-880px);
}

@keyframes s8 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-880px);
    }
}

/* // */

/* s9 */

.s9 {
    animation: s9 .1s ease-out;
    transform: translateY(-990px);
}

@keyframes s9 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(-990px);
    }
}

/* // */